body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
@import "_media-queries";
@import "fullscreen";
@import "mobileTab";

@include min-screen(700px) {
  @include fullscreen;
}
@include screen(320px, 699px) {
  @include mobileTab;
}