body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0; }

@media screen and (min-width: 700px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px; }

  header {
    width: 100%;
    height: 75px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    float: left;
    text-align: right;
    background-color: #efefef;
    z-index: 9999; }
    header .navContainer {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto; }
      header .navContainer .logo {
        width: 30%;
        max-width: calc(1200px - 30%);
        height: 100%;
        background: url("../images/logoFull.png") no-repeat center left/auto 90%;
        position: relative;
        float: left;
        margin: 0px 0px 0px 5%; }
      header .navContainer nav {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        max-width: 1200px; }
        header .navContainer nav .borders {
          padding: 0px;
          width: 60%;
          height: 100%;
          position: relative;
          float: left;
          margin: 0px 5% 0px 0px; }
          header .navContainer nav .borders .navItem {
            position: relative;
            float: left;
            top: 0px;
            width: 20%;
            height: 100%;
            text-align: center;
            line-height: 3.5em;
            font-family: "proxima-nova", sans-serif;
            font-weight: lighter;
            font-size: 20px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            background-color: #efefef;
            border: none;
            margin: 0px;
            padding: 0px; }
          header .navContainer nav .borders .navItem:focus {
            border: none;
            outline: 0; }
          header .navContainer nav .borders .navItem:last-child {
            border-right: none; }
          header .navContainer nav .borders #home {
            border-top: 5px solid #000df2; }
          header .navContainer nav .borders #home:hover, header .navContainer nav .borders #home:focus {
            background-color: #000df2;
            color: #ffffff; }
          header .navContainer nav .borders #about {
            border-top: 5px solid #00b5ff; }
          header .navContainer nav .borders #about:hover, header .navContainer nav .borders #about:focus {
            background-color: #00b5ff;
            color: #ffffff; }
          header .navContainer nav .borders #apps {
            border-top: 5px solid red; }
          header .navContainer nav .borders #apps:hover, header .navContainer nav .borders #apps:focus {
            background-color: red;
            color: #ffffff; }
          header .navContainer nav .borders #careers {
            border-top: 5px solid #ff6e00; }
          header .navContainer nav .borders #careers:hover, header .navContainer nav .borders #careers:focus {
            background-color: #ff6e00;
            color: #ffffff; }
          header .navContainer nav .borders #contact {
            border-top: 5px solid #00b800; }
          header .navContainer nav .borders #contact:hover, header .navContainer nav .borders #contact:focus {
            background-color: #00b800;
            color: #ffffff; }

  .sections {
    height: 100%;
    width: 100%; }
    .sections section {
      width: 100%;
      height: auto;
      min-height: 600px;
      position: relative;
      float: left;
      top: 75px; }
      .sections section #anchorHome, .sections section #anchorAbout, .sections section #anchorApps, .sections section #anchorCareers, .sections section #anchorContact {
        position: absolute;
        height: 75px;
        float: left;
        width: 100%;
        top: -75px; }
      .sections section .interior {
        width: 100%;
        max-width: 1200px;
        height: auto;
        margin: 0 auto; }
        .sections section .interior h2 {
          font-family: "tandelle", sans-serif;
          font-size: 60px;
          color: rgba(255, 255, 255, 0.8);
          margin: 0px;
          padding: 0px 0px 0px 6%; }
    .sections #homeSection {
      background-color: #000df2; }
    .sections #aboutSection {
      background-color: #00b5ff; }
    .sections #appsSection {
      background-color: red; }
    .sections #careersSection {
      background-color: #ff6e00; }
    .sections #contactSection {
      background-color: #00b800; }
    .sections footer {
      background-color: #222222;
      width: 100%;
      height: 200px;
      position: relative;
      float: left; } }
@media screen and (min-width: 320px) and (max-width: 699px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px; }

  header {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px; }
    header ul li {
      display: block;
      padding: 0px 2% 0px 2%; } }
